h1{
    color: #ffa511;
    font-family: league spartan;
    text-align: center;
    text-size-adjust: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    text-decoration: teal double underline;
     text-transform: lowercase;
}
p{
    color: rgba(153, 255, 0, 0.726);
}
   
